.nav{
    /* background-color: #FFF7AE ; */
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1216%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 247%2c 174%2c 1)'%3e%3c/rect%3e%3cpath d='M979.61 88.77L981.44 101.44 969.48 106.01 971.31 118.68 959.35 123.25 961.18 135.93 949.21 140.5M972.72 84.71L974.55 97.39 962.58 101.96 964.41 114.63 952.45 119.2 954.28 131.87 942.32 136.44M965.82 80.66L967.65 93.33 955.69 97.9 957.52 110.58 945.55 115.15 947.38 127.82 935.42 132.39' stroke='rgba(186%2c 255%2c 180%2c 1)' stroke-width='1' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3cpath d='M321.21000000000004 549.06 L411.59000000000003 682.3199999999999L445.90679358376474 536.1832064162353z' stroke='rgba(255%2c 99%2c 99%2c 1)' stroke-width='1.31' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3crect width='69' height='69' clip-path='url(%26quot%3b%23SvgjsClipPath1217%26quot%3b)' x='104.41' y='291.08' fill='url(%23SvgjsPattern1218)' transform='rotate(100.68%2c 138.91%2c 325.58)'%3e%3c/rect%3e%3crect width='167.52' height='167.52' clip-path='url(%26quot%3b%23SvgjsClipPath1219%26quot%3b)' x='287.96' y='-71.9' fill='url(%23SvgjsPattern1220)' transform='rotate(115.95%2c 371.72%2c 11.86)'%3e%3c/rect%3e%3cpath d='M414.35 432.41a5.6 5.6 0 1 0 6.98 8.76 5.6 5.6 0 1 0-6.98-8.76zM424.32 444.93a5.6 5.6 0 1 0 6.98 8.76 5.6 5.6 0 1 0-6.98-8.76zM434.29 457.44a5.6 5.6 0 1 0 6.98 8.76 5.6 5.6 0 1 0-6.98-8.76zM444.26 469.96a5.6 5.6 0 1 0 6.98 8.76 5.6 5.6 0 1 0-6.98-8.76zM381.9 417.35a5.6 5.6 0 1 0 6.98 8.76 5.6 5.6 0 1 0-6.98-8.76zM391.87 429.87a5.6 5.6 0 1 0 6.98 8.76 5.6 5.6 0 1 0-6.98-8.76zM401.84 442.38a5.6 5.6 0 1 0 6.97 8.76 5.6 5.6 0 1 0-6.97-8.76zM411.81 454.9a5.6 5.6 0 1 0 6.97 8.76 5.6 5.6 0 1 0-6.97-8.76z' fill='rgba(186%2c 255%2c 180%2c 1)'%3e%3c/path%3e%3crect width='276' height='276' clip-path='url(%26quot%3b%23SvgjsClipPath1221%26quot%3b)' x='-94.14' y='-43.33' fill='url(%23SvgjsPattern1222)' transform='rotate(314.02%2c 43.86%2c 94.67)'%3e%3c/rect%3e%3cpath d='M1406.89 395.82 L1476.28 310.86L1487.9894904207893 399.74449042078913z' stroke='rgba(186%2c 255%2c 180%2c 1)' stroke-width='1.24' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3cpath d='M1092.8799999999999 320.11 L1148.86 278.21999999999997L1169.1352728714796 347.4302728714798z' stroke='rgba(255%2c 99%2c 99%2c 1)' stroke-width='2.64' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3ccircle r='84.1212174111038' cx='225.68' cy='155.55' stroke='rgba(255%2c 171%2c 118%2c 1)' stroke-width='1.95' stroke-dasharray='2%2c 2'%3e%3c/circle%3e%3crect width='241.12' height='241.12' clip-path='url(%26quot%3b%23SvgjsClipPath1223%26quot%3b)' x='1206.01' y='-107.41' fill='url(%23SvgjsPattern1224)' transform='rotate(93.44%2c 1326.57%2c 13.15)'%3e%3c/rect%3e%3ccircle r='46.666666666666664' cx='45.32' cy='264.13' fill='rgba(255%2c 171%2c 118%2c 1)'%3e%3c/circle%3e%3crect width='132' height='132' clip-path='url(%26quot%3b%23SvgjsClipPath1225%26quot%3b)' x='105.91' y='150.91' fill='url(%23SvgjsPattern1226)' transform='rotate(343.83%2c 171.91%2c 216.91)'%3e%3c/rect%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1216'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='6.9' height='6.9' patternUnits='userSpaceOnUse' id='SvgjsPattern1218'%3e%3cpath d='M3.45 1L3.45 5.9M1 3.45L5.9 3.45' stroke='rgba(255%2c 99%2c 99%2c 1)' fill='none' stroke-width='1.57'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1217'%3e%3ccircle r='17.25' cx='138.91' cy='325.58'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='167.52' height='13.96' patternUnits='userSpaceOnUse' id='SvgjsPattern1220'%3e%3crect width='167.52' height='6.98' x='0' y='0' fill='rgba(255%2c 99%2c 99%2c 1)'%3e%3c/rect%3e%3crect width='167.52' height='6.98' x='0' y='6.98' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1219'%3e%3ccircle r='41.88' cx='371.72' cy='11.86'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1222'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(186%2c 255%2c 180%2c 1)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1221'%3e%3ccircle r='69' cx='43.86' cy='94.67'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='10.96' height='10.96' patternUnits='userSpaceOnUse' id='SvgjsPattern1224'%3e%3cpath d='M0 10.96L5.48 0L10.96 10.96' stroke='rgba(186%2c 255%2c 180%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1223'%3e%3ccircle r='60.28' cx='1326.57' cy='13.15'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1226'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(255%2c 99%2c 99%2c 1)' fill='none' stroke-width='1.59'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1225'%3e%3ccircle r='33' cx='171.91' cy='216.91'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    text-align: center;
    justify-content: center;
    display: flex;

}
.center{
    padding: 0.5rem;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: auto ;
    background-color: rgba(255, 99, 99, 1)  ;
    width: 50vh;
   /* border-radius: 3rem; */
    
}
.center h1{
    color:#FFF7AE ;
    font-size: 6vh;
    font-weight:900;
    
}
.center img{
    width: 8rem;
    height: 3rem;
   
}
.me-2{
    width: 50vh;
}
.me-auto{
    text-align: left;
}
.me-auto h5{
    color: #fff;
    display: inline-block;
  position: relative;
  font-size: 1.2rem;
}

.me-auto h5:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: rgb(196, 59, 59);
    transform-origin: bottom right;
    transition: transform 0.30s ease-out;
  }
  
  .me-auto h5:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

