
.search{
    position: relative;
    width: 50%;
    /* margin-top: 3rem; */
    align-items: center;
    justify-content: center;
    /* left: 7%; */
    margin: auto;
}
.search form{
    position: relative;
    width: 100%;
    padding-top: 2rem;
}
.search form input{
    width: 70%;
    height: 50px;
    /* border-radius: 10px; */
    margin: 1rem 0;
    padding: 10px 20px;
    outline: none;
    border: 0.1px solid rgba(0, 0, 0, 0.2);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
